# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Optional: Ignore build directories (if applicable)
dist/
build/
